/*弹性布局集合*/
.subnav ul,
.con1 .title,
.news .title{
	display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
	-webkit-justify-content:space-between;
	-moz-justify-content:space-between;
	-ms-justify-content:space-between;
	justify-content:space-between;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
}
/*字体居中集合*/
.subnav ul li a,
.subnav ul li a span,
.news .swiper-wrapper li ul li #time{
	text-align: center;
}
/*宽度集合*/
.subnav,
.subnav ul,
.con1,
.con2,
.news,
.con1 .title,
.con2 .title,
.news .title,
.news .swiper-wrapper li ul li{
	width: 100%;
} 
/*底边框阴影集合*/
.con1,.con2,.news,.subnav{
	-webkit-box-shadow: 0 1px 3px #ccc;
	-moz-box-shadow: 0 1px 3px #ccc;
	-ms-box-shadow: 0 1px 3px #ccc;
	box-shadow: 0 1px 3px #ccc;
}



/*轮播图*/
.banner .swiper-container {
    width: 100%;
    height: 100%;
}
.banner .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}



/*子导航*/
.subnav ul{
	width: 90%;
	margin:0 auto;
}
.subnav ul li{padding:2% 1%;}
.subnav ul li a,
.subnav ul li a span{
	display: block;
	font-size: 0.7rem;
	margin-top: 10%;
	color:#999;
}




 /*公司简介*/
.con1,.news,.con2{
 	padding: 0.5rem 0;
}
.con1 .title,
.con2 .title,
.news .title{
	height: 2.5rem;
	border-bottom:1px solid #f5f5f5;
	margin-bottom: 3%;
}
.con1 h2,.con2 h2,.news h2{
	font-size: 1rem;
	line-height: 2.5rem;
	margin-left:5%;
	font-weight: 900;
}
.con1 img{
	width: 90%;
	margin:0.2rem auto;
}
.con1 p{
	width: 90%;
	font-size: 0.6rem;
	height:20%;
	line-height: 1rem;
	margin:0 auto;
	text-overflow:ellipsis;/*超出的文本省略*/
	text-indent: 1rem;
	overflow: hidden;
}




/*产品中心*/
.con2 .swiper-container{
	width: 90%;
}
.con2 .swiper-slide {
	border-radius: 0.38rem;
	text-align: center;
	overflow: hidden;
	width: 45%;

    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align:center;
    -ms-flex-align:center;
    -webkit-align-items: center;
    align-items: center;
}
.con2 li.swiper-slide p{
	background: rgba(0,0,0,0.6);
	position: absolute;
	bottom:0;
	left:0;
	width: 100%;
	height: 1.3rem;
}
.con2 li.swiper-slide p a{
	display: block;
	color:#fff;
	font-size: 0.8rem;
	line-height: 1.3rem;
}




/*新闻中心*/
.news .swiper-container{
	width: 90%;
	margin:0 auto;
}
.news .swiper-wrapper li ul li{
	display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
	-webkit-justify-content:space-between;
	-moz-justify-content:space-between;
	-ms-justify-content:space-between;
	justify-content:space-between;
}
.news .swiper-wrapper li ul li #time{
	width: 20%;
	background: aqua;
	border-radius: 15px;
	margin:1.5%;
}
.news .swiper-wrapper li ul li > div span#day{
	border-bottom:2px solid #fff;
	margin-top:13%;
	font-size: 1.5rem;
}
.news .swiper-wrapper li ul li > div span#year{
	margin:8%;
	font-size: 0.8rem;
}
.news .swiper-wrapper li ul li .txt{
	width: 75%;
	margin-right: 1.5%;
	margin-top: 1%;
}
.news .swiper-wrapper li ul li .txt a{
	color: #000;
}
.news .swiper-wrapper li ul li > div span{
	display: block;	
	color: #fff;
}
.news .swiper-wrapper li ul li > div h3{
	font-size: 0.8rem;
}
.news .swiper-wrapper li ul li > div p{
	font-size: 0.6rem;
	text-indent: 0.5rem;
	line-height: 1rem;
}