.news_con,.wrap{
	-webkit-box-shadow: 0 1px 3px #ccc;
	-moz-box-shadow: 0 1px 3px #ccc;
	-ms-box-shadow: 0 1px 3px #ccc;
	box-shadow: 0 1px 3px #ccc;
}
.news_con{
	width: 100%;
	padding:2% 0;
}
.news_con h2{
	font-size: 1.6rem;
	font-weight: 900;
	text-align: center;
}
.news_con small{
	text-align: center;
	display: block;
	margin-top: -2%;
}
.news_con > span{
	display: block;
	width: 100%;
	border:1px solid #ccc;
}
.news_con img{
	width: 97%;
	margin:2% auto;
}
.news_con p{
	width: 98%;
	font-size: 0.6rem;
	height:20%;
	line-height: 1rem;
	margin:0 auto;
	text-overflow:ellipsis;/*超出的文本省略*/
	text-indent: 1rem;
	overflow: hidden;
}

.wrap{
	width: 100%;
	padding:3% 0;

}
.wrap a{
	color: #666;
	font-size: 0.6rem;
	margin: 0 1%;
}