/*头部*/
.header,
.box ul,
.wrap{
	display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
	-webkit-justify-content:space-between;
	-moz-justify-content:space-between;
	-ms-justify-content:space-between;
	justify-content:space-between;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
}
.header{
	width:100%;
	margin-bottom: 0.2rem;
}
.header .home,
.header .logo,
.header .nav,
.header .back{margin-top: 5px;}

.header .home{
	margin-left:5%;
}
.header .back{
	margin-left:5%;
}
.header .nav{
	margin-right:5%;
}
.header .back,
.header .nav,
.header .logo,
.header .home{
	cursor: pointer;
}
.header .home a,
.header .back a,
.header .logo a,
.header .back a{
	display: block;
	width: 100%;
	height: 100%;
}



/*蒙层导航*/
.box{
	position: fixed;
	top:0;
	left:0;
	width:100%;
	height: 100%;
	display: none;
	z-index: 99;
	background: rgba(0,0,0,0.9);
}
.box ul{
	width: 90%;
	-webkit-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-ms-flex-wrap:wrap;
	flex-wrap:wrap;
	position: fixed;
	top:50%;
	left:5%;
	margin-top: -25%;
}
.box ul li{
	margin:3% 0;
	cursor: pointer;
	width: 48%;
	text-align: center;
}
.box ul li a{
	display: block;
	width: 100%;
	padding: 8% 0;
	border:1px solid #999;
	font-size: 1rem;
	border-radius: 0.3rem;
	color:#fff;
}
.box ul li:hover a,
.box ul li.on a{background: #f5f5f5;}

.box ul li.on a,
.box ul li #fixed a,
.box ul li:hover a{
	box-shadow: 0 0 6px #888 inset;
	color:#666;
	border:0;
}


/*底部版权*/
p.footer{
	width: 100%;
	padding:5% 0;
	text-align: center;
	font-size: 0.4rem;
}


/*address*/
.nav_address{
	display:-webkit-flex;
    display:-moz-box;
    display:-ms-flexbox;
    display:flex;
	-webkit-justify-content:flex-start;
	-moz-justify-content:flex-start;
	-ms-justify-content:flex-start;
	justify-content:flex-start;
	-webkit-align-items:center;
	-moz-align-items:center;
	-ms-align-items:center;
	align-items:center;
	
}
.nav_address{
	width: 100%;
	height: 2rem;
	line-height: 2rem;
	background: green;
	font-size: 0.8rem;
	margin-bottom:2%;
}
.nav_address li{
	margin:0 1%;
	vertical-align: middle;
}
.nav_address li img{
	width: 1rem;
	height: 1.2rem;
}
.nav_address li,
.nav_address li a{
	color:#fff;
}


/*<!-- banner -->*/
img.banner2{
	width: 100%;
	height: 100%;
	display: block;
}






